<head>
    <meta charset="utf-8">
    <style>
      body{
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div>
        <h1>Signup Page</h1>
    </div>
    
    <div>
        <h2>Enter Details</h2>
        <form action="/signup" method="post">
            <label for="uname">Username</label>
            <input type="text" name="uname"> <br>
            <label for="pass">Password</label>
            <input type="text" name="pass"> <br>
            <button type="submit">Signup</button>
        </form>
    </div>
  </body>